header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  background-color: rgb(51, 59, 61);
  font-size: 24px;
  :hover{
    color: teal;
  }
}

nav a.active {
  color: teal;
}


.center-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 10px;
}

nav a {
  color: rgb(219, 207, 207);
  text-decoration: none;
  padding: 15px;
}


nav a mat-icon {
  margin-right: 5px;
  vertical-align: middle;
}

nav a, nav mat-icon {
  display: inline-block;
}
