<header>
  <nav>
    <div class="home-link">
      <a class="nav-link" href="#home"><mat-icon>home</mat-icon>Home</a>
    </div>
    <div class="center-links">
      <a href="#about"><mat-icon>person</mat-icon>About</a>
      <a href="#cv"><mat-icon>work</mat-icon>CV</a>
      <a href="#skills"><mat-icon>whatshot</mat-icon>Skills</a>
      <a href="#side-projects"><mat-icon>laptop</mat-icon>Projects</a>
      <a href="#contact"><mat-icon>phone</mat-icon>Contact</a>
    </div>
  </nav>
</header>
