<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="chat-button-container" *ngIf="isChatBoxMinimized">
  <button (click)="toggleChatBox()" class="toggle-button">{{'Maximize Chat (WIP)'}}</button>
</div>
<div class="chat-container" *ngIf="!isChatBoxMinimized">
  <button (click)="toggleChatBox()" class="toggle-button">{{'Minimize Chat (WIP)'}}</button>

  <div class="message-thread" #messageContainer>
    <div *ngFor="let message of messages; let i = index" class="message-container" [ngClass]="getMessageClasses(message)">
      <button mat-icon-button class="clipboard-button" (click)="copyToClipboard(message.content)">
        <mat-icon>content_copy</mat-icon>
      </button>
      <ng-container>
        <pre class="message-text">{{ message.content }}</pre>
      </ng-container>
    </div>
  </div>

  <div class="input-container">
    <div class="column">
      <div class="row loadingIndicator">
        <textarea [(ngModel)]="inputMessage" class="message-input" #inputMessageTextArea
          placeholder="Eager to explore Codie's professional journey? Type your question here..." (keyup.enter)="sendMessage()"
          (input)="adjustTextareaHeight($event)">
        </textarea>
        <div *ngIf="isLoading" class="spinner"></div>
      </div>
      <div class="row">
        <button (click)="sendMessage()" class="send-button" [disabled]="isLoading">Send</button>
        <button (click)="clearMessages()" class="clear-button" [disabled]="isLoading">Clear</button>
      </div>
  </div>
  </div>
</div>
