<div class="about-container" *ngIf="about" >
  <h1><b>About</b></h1>

  <div class="content-container" >
    <div class="profile-section" [@slideInTop]="isVisible ? '*' : 'void'">
      <div class="profile-picture">
        <a href="/assets/images/lasvegas.jpg">
          <img src="/assets/images/lasvegas.jpg" alt="Codie Orberson" />
        </a>
      </div>

      <div class="social-icons">
        <a href="https://linkedin.com/in/codie-orberson" target="_blank" rel="noopener noreferrer">
          <img class="icon"src="/assets/icons/linkedin.png" alt="LinkedIn">
        </a>
        <a href="https://github.com/codieorberson" target="_blank" rel="noopener noreferrer">
          <img class="icon" src="/assets/icons/github.png" alt="GitHub">
        </a>
      </div>
    </div>

    <div class="description-section" [@slideInBottom]="isVisible ? '*' : 'void'">
      <h2>{{about.Title}}</h2>
      <p>
        {{about.Summary}}
      </p>

    <div class="info-section">
      <div class="info-item">
        <mat-icon>location_on</mat-icon>
        <span>{{about.Location}}</span>
      </div>
      <div class="info-item">
        <mat-icon>cake</mat-icon>
        <span>{{about.Age}}</span>
      </div>

    </div>
  </div>
</div>
