

.profile-picture img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
}
.profile-picture img:hover{
  transform: scale(1.05);
}

.about-container {
  width: 100%;
  padding: 2rem;
  padding-bottom: 50px;
  border-bottom: 3px solid #000;
}

h1 {
  font-size: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: teal;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 60%;
  margin: 0 auto;
}

.profile-section {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-section {
  display: flex;
  grid-column: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.info-section {
  gap: 1.5rem;
  padding: 30px;
}
.info-item span {
  font-size: 30px
}

mat-icon{
  font-size: 40px;
  padding-bottom: 50px;
  padding-right: 40px;

}

.icon{
  height: 80px;
  width: 80px;
}

.icon:hover{
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}



h2 {
  font-size: 40px;
  padding-bottom: 20px;
  text-align: left;
  color: teal;
}

p{
  font-size: 25px;
  line-height: 1.1;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: 15% auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #f1f1f1;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
