

.profile-picture img {
    width: 100%;
    max-width: 250px;
    border-radius: 50%;
}

.about-container {
  width: 100%;
  padding: 2rem;
  padding-bottom: 50px;
  border-bottom: 3px solid #000;
}

h1 {
  font-size: 50px;
  padding-bottom: 50px;
  text-align: center;
  color: teal;
}


// h1 {
//   font-size: 50px;
//   padding-bottom: 50px;
//   text-align: center;
//   color: teal;
//   text-decoration-line: underline;
//   text-decoration-color: transparent;
//   background-image: linear-gradient(to right, black 25%, black 75%);
//   background-repeat: no-repeat;
//   background-position: 0% 100%l
//   background-size: 100% 2px;
// }

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 60%;
  margin: 0 auto;
}

.profile-section {
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description-section {
  display: flex;
  grid-column: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-items: center;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.info-section {
  gap: 1.5rem;
  padding: 30px;
}
.info-item span {
  font-size: 30px
}

mat-icon{
  font-size: 40px;
  padding-bottom: 50px;
  padding-right: 40px;

}



.icon{
  height: 80px;
  width: 80px;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
h2 {
  font-size: 40px;
  padding-bottom: 20px;
  text-align: left;
  color: teal;
}

p{
  font-size: 25px;
  line-height: 1.1;
}
