<div class="skills-container" id="uniqueSkillsContainer">
  <h1><b>Skills</b></h1>
  <div class="grid-container">
    <mat-card *ngFor="let skillCategory of allSkills; let i = index" [@slideIn]="getAnimationState(i)">
      <mat-card-title>{{skillCategory.name}}</mat-card-title>

      <mat-card-content>
        <div *ngFor="let skill of skillCategory.skills" class="progress-container">
          <p>
            {{skill.name}}
            <span matTooltip={{skill.details}} matTooltipPosition="right" class="info-icon"    matTooltipClass="skills-tooltip">
              i
            </span>
            <span class="experience-span">({{skill.yearsExperience}}+ years)</span>


          </p>
          <div class="progress-with-number">
            <mat-progress-bar [value]="skill.progress"></mat-progress-bar>
            <span class="progress-number">{{skill.progress}}%</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <app-word-cloud [skillsData]="flattenedSkills"></app-word-cloud>
</div>
