.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  width: 100%;
}


mat-card {
  width: 100%;
  box-shadow: none !important;
  padding: 40px;
}
mat-card-title{
  padding-bottom: 10px;
  font-size: 40px;
  text-align: center;
  color: teal;
}


.skills-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #000;
}

h1 {
  font-size: 50px;
  padding-bottom: 30px;
  text-align: center;
  color: teal;
}

.progress-container {
  position: relative;
  padding: 10px;
  font-size: 75px;
}

.progress-with-number {
  position: relative;
}
.progress-container p {
  font-size: 1.5rem;
}
.progress-number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  transform: translate(0, -100%);
  font-weight: bold;
}

.info-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  background-color: #97b7dd;
  color: black;
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
  font-weight: normal !important;
}

.info-icon:hover{
  background-color: teal;
  transform: scale(1.15);
}

p{
  font-weight: bold;
}

.experience-span{
  font-size: 15px;
  padding-left: 10px;
}
