@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.skills-tooltip .mdc-tooltip__surface {

  max-width: 300px !important;
  font-size: 16px !important;
  background-color: #97b7dd !important;
  color: black !important;
  line-height: 1.25 !important;
  padding: 15px 20px !important;
  border-radius: 40px !important;
}
